@charset "utf-8";
.clr:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clr{display:inline-block;}
html[xmlns] .clr{display:block;}
* html .clr{height:1%;}
/*清空浮动的代码-end*/
.inmain{width:550px;float: left;margin-left: 50px;}
.main_left{width:100px;float:left;height:378px;}
.main_left ul li{font-weight:bold;font-size:14px;margin-top: 17px;color: #ccc}
.main_left ul li{height:26px;line-height:26px;width:138px;cursor:pointer;display:block;color: #e1ebff;}
.main_left ul li.rem_left{color: #f6c3ff;}
.rem_left1{color:#8BBF5D;}
.inmain h5{
    font-size: 22px;
    color: white;
}
.main_right{width:400px;float:left;margin-left: 39px;}
.main_right ul{width:400px;height: 360px;margin-top: 45px;}
.main_right ul li{float:left;width:70px;height:100px;text-align:center;font-size:14px;font-weight:bold;line-height:24px;cursor:pointer;margin-bottom:20px;margin-left: 5px;}
.main_right ul li a{color:#84878C;float:left;}
.main_right ul li img{border:1px solid #ccc;background:#FFF;padding:5px;display:block;width: 70px;height:35px;}
.main_right ul li span{display:block;font-weight:200;color:#84878C;}
.main_right ul li.movie_scroll_hov img{border:1px solid #779e00;width: 70px;}
.main_right ul li.movie_scroll_hov a{color:#779e00;}